@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');





body {
    background-color: hsl(217, 54%, 11%);
    font-family: Outfit;
    font-size: 18px;
    font-weight: 300;
    color: hsl(215, 51%, 70%);
}



.container {
    display: flex;

    justify-content: center;
    align-items: center;

    min-height: 100vh;

}



.card {


    background-color: hsl(216, 50%, 16%);

    height: 600px;
    width: 370px;

    padding: 30px;

    gap: 20px;

    border-radius: 15px;

    box-shadow: 2px 2px 100px rgba(0, 0, 0, 0.192);

}


.itens-card {
    display: flex;
    flex-direction: column;

    align-items: center;

    height: 500;

    gap: 20px;

}


.foto-card {

    max-width: 320px;

    border-radius: 10px;
}



.textos-card {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    gap: 20px;

}



.titulo-card {
    color: hsl(0, 0%, 100%);
    align-self: flex-start;

    font-weight: 400;

}



.info-card {

    margin-bottom: 25px;
}


.status-card {
    display: flex;
    justify-content: space-between;

}




.eth {
    color: hsl(178, 100%, 50%);
    font-weight: 600;

}


.tempo-restante {}





.hr {}

.autor {
    display: flex;

    align-items: center;
    gap: 15px;

}



.autor-foto {

    max-width: 12%;

    border: solid 1.5px white;
    border-radius: 100%;
}




.autor-nome {
    color: hsl(0, 0%, 100%);

}